<div class="social-links">
  {{ partial "social_links.html" . }}
</div>

<div class="copyright">
  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      {{/* icon heart */}}
      <i class="iconfont">
        {{ partial "svg/heart.svg" }}
      </i>
    </span>
    {{- if or .Site.Copyright .Site.Author.name -}}
      <span class="author">
        {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}
        {{ else }}{{ .Site.Author.name | safeHTML }}
        {{ end }}
      </span>
    {{- end -}}
  </span>

</div>
